body {
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
}

header h1 {
  font-weight: normal;
  font-size: 50px;
}

#content h2 {
  font-weight: 300;
  font-size: 42px;
}

a {
  color: aquamarine;
  font-size: 16px;
}

footer {
  text-align: right;
  color: gray;
}
